@use './variables.scss' as *;

// Typography Mixins

// H1
@mixin font-h1-regular {
  font-family: $font-family;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1.25px;
}

// H2
@mixin font-h2-regular {
  font-family: $font-family;
  font-size: 28px;
  font-weight: 400;
}

// H4
@mixin font-h4-medium {
  font-family: $font-family;
  font-size: 22px;
  font-weight: 500;
}

// H5
@mixin font-h5-medium {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
}

// Main
@mixin font-main-regular {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
}

@mixin font-main-medium {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 500;
}

// Button
@mixin font-button-medium {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 500;
}

// Tag
@mixin font-tag-regular {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
}

@mixin font-tag-medium {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 500;
}

// XS
@mixin font-xs-regular {
  font-family: $font-family;
  font-size: 12px;
  font-weight: 400;
}

@mixin font-xs-medium {
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
}

// Animation Mixins
@mixin animate-fadeInUp($delay: 0s, $duration: 0.75s) {
  opacity: 0;
  animation: fadeInUp $duration cubic-bezier(0.16, 1, 0.3, 1) $delay forwards;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(24px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin animate-fadeInDown($delay: 0s, $duration: 0.65s) {
  opacity: 0;
  animation: fadeInDown $duration cubic-bezier(0.16, 1, 0.3, 1) $delay forwards;

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-16px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}