.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  user-select: none;

  .avatar {
    width: 160px;
    height: 160px;
    border-radius: $radius-full;
    object-fit: cover;
  }

  .author {
    @include font-main-regular;
    color: $text-dark-gray;
  }
}