.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: rgba($primary-black, 0.25);
  z-index: 100;

  @media (max-width: 768px) {
    padding: 16px;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 680px;
  max-height: 88vh;
  overflow-y: auto;
  background-color: $primary-white;
  border: 1px solid $border-light-gray;
  border-radius: 32px;
  box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.04);
  padding: 32px;

  scrollbar-width: none;

  @media (max-width: 768px) {
    padding: 20px;
    border-radius: 24px;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $border-light-gray;
    border-radius: $radius-full;
  }
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .modalTitleText {
    @include font-main-medium;
    font-size: 26px;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.closeButton {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: $radius-full;
  color: $text-dark-gray;
  transition: $transition-fast;
  cursor: pointer;

  &:hover {
    background-color: $background;
  }
}

.content {
  width: 100%;
}