.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 50px;
  left: 50px;
  right: 50px;
  z-index: 50;
  pointer-events: none;

  @include animate-fadeInDown(0s, 0.65s);

  >* {
    pointer-events: auto;
  }

  @media (max-width: 768px) {
    top: 24px;
    left: 20px;
    right: 20px;
  }
}

.appleControls {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: $radius-full;

  div {
    width: 32px;
    height: 32px;
    border-radius: $radius-full;
  }

  @media (max-width: 768px) {
    div {
      width: 24px;
      height: 24px;
    }
  }

  @media (max-width: 480px) {
    div {
      width: 16px;
      height: 16px;
    }
  }
}

.linkButtons {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (max-width: 480px) {
    & span {
      display: none;
    }
  }
}